<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Withdraw Money</title>
</head>
<body>
    <h2>Withdraw Money</h2>

    <h3>{{account.name}}</h3>
    <p>Account Number:{{account}}</p>
    
    <form method="post">
        {%csrf_token%}
        <label>Amount:</label>
        <input type="number" name="amount" required>
        <br><br>
        <button type="submit">Withdraw</button>
    </form>
    {%if message%}
    <p>{{message}}</p>
    {%endif%}

    {%if balance%}
    <h3>Current balance:₹{{balance}}</h3>
    {%endif%}
</body>
</html>